.slider__year.slider__year--first #{firstYear}
.slider__tooltip.slider__tooltip--first(data-first-tolltip) #{firstYear}
input.slider__controls(type="range" multiple value="0,100" step="0.8" data-years)
.slider__tooltip.slider__tooltip--last(data-last-tolltip) #{lastYear}
.slider__year.slider__year--last #{lastYear}