@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext');
@import "_variables";

:focus {
    outline: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: $main-text;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    margin: 0;
    background: url(/assets/images/bg.jpg);
    background-size: cover;
}
