.chart
    canvas(
        width="840"
        height="350"
        data-chart
    )
    .chart__preloader(data-preloader)
    .chart__legend
        .chart__legend--temperature.max-temperature максимальная температура
        .chart__legend--temperature.min-temperature минимальная температура